<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Chuck Norris</title>

  </head>
  <body>
    <a href="/">Home</a>
    <a href="/random-joke">Random Joke</a>
    <a href="/categories">Categories</a>
    <a href="/search">Search</a>

    <%- body -%>
  </body>
</html>
