<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">

  <header>
  <h1 style="text-align: center">Chuck Norris never sleeps</h1>
  <nav>
    <ul>
<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/category">Categories</a>
</li>
<li>
    <a href="/joke-category">Joke by Category</a>
</li>
<li>
    <a href="/search">Search</a>
</li>
<li>
    <a href="/random">&#9733; Random &#9733;</a>
</li>



  </ul>
  </nav>
</header>

<%- body -%>

</div>
</body>
</html>
