<body>
  <h1>Categories</h1>
  <p>Click one to see joke</p>
  <ul>
    <% categories.forEach((oneCategory) => { %>
      <li>
        <a href="/categories?cat=<%= oneCategory %>">
          <%= oneCategory %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
