<h2>Categories</h2>

<h3>Select the category of your preference:</h3>
  <ul style="padding: 1em;" class="list-inline">
     <% display.forEach( (categories) => { %>
       <li style="padding: 4em;">
         <form method="get" action="/joke-by-category" >
          <a href="/joke-by-category?cat=<%= categories %> " name= "categoryValue">
           <%= categories %>
          </a>
         </form>
       </li>
     <% }) %>
  </ul>
