<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% categories.forEach((list) =>{ %>
        <li><a href="http://localhost:3000/categories?cat=<%= list%>"><%= list %></a></li>
      <% }) %>
    </ul>


  </body>
</html>
