<h2>HOME PAGE</h2>
<br>

<div>
<p>Welcome, on this site you'll find facts about Chuck Norris.</p>
<p>Click on 'Random' to get a random fact. Who knows maybe the fact might be funny or just a silly one.</p>
<p> Click on 'Categories' to view all the categories we have for Chuck Norris.</p>
<p>Or hey, even on click 'Search' if you want to find your own!</p>
</div>

<br>
<img src="/images/chuck.gif" style="width:304px;height:228px;">
<br>
