<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body class="container">
    <h1>Welcome to the funniest page on the web</h1>
    <a href="http://localhost:3000/random">Hit me with a random amazing joke</a><br>
    <a href="http://localhost:3000/categories">Maybe you prefer to pick from a category</a><br>
    <a href="http://localhost:3000/search">Search with a keyword an laugh away</a><br>
  </body>
</html>
