<p>This is some paragraph text on the page. It's really not about anything in particular</p>

Would you care for some
<% if (age >= 21 && country === "US" || age >= 18 && country === "Spain"){ %>
  whisky?
<% } else { %>
  juice?
<% } %>
