<h1>Joke By Category</h1>
<!--  This is linking when click on a link on Categories-viewPage-->

<div>
  <h3>Here is a Chuck Norris fact/jokes.</h3>
</div>
<br>

<div>

  <ul>
    <p>
      <%= joke %>
    </p>
  </ul>

  <br>
  <a class="btn" href="/categories-view">Back to Categories</a>
  <br>
