<h1>Random</h1>
<br>

<div>
<p class = "randomAF">Press the button Below and give it a go! Find some funny Stuff!</p>
</div>
<br>

<div>
<p> <%= joke %> </p>
</div>
<br>
<a class="btn" href="/random-view"> BE Random AF</a>
