<h1>Searh A Chuck Norris Fact</h1>

<!-- Simple form which will send a POST request -->
<form action = "/search-view" method="post">
  <label for="search-input"> </label>
  <input id="search-input" type="text" name="searchTerm" />
  <button type="submit">Submit!</button>
</form>
