<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>The Chuck Norris Joke Department</title>
   <link rel = "stylesheet" href = "/css/styles.css"> </link>
 </head>
 <body>

 <%- body -%>
 <footer>
 </footer>
 </body>
</html>
