<body>
  <h1>Categories</h1>
  <ul>
    <%- cat.map((category) => {
      return '<li><a href=/categories?cat=' + category + '>' + category + '</a></li>';
    }).join("") %>
  </ul>
  <% if (joke != undefined) {%>
    <%= joke.value %>
      <% } %>
</body>
