<body>
  <h1>Categories</h1>
  <ul>
    <% categs.forEach(e => { %>
      <% let link = `/categories?cat=${e}` %>
        <li>
          <a href= "<%= link %>">
          <%= e %>
            </a>
        </li>
        <% });  %>
  </ul>
</body>