  <body>
    <h1>Categories</h1>

   <% for(i=0; i<data.length;i++){ %>
    <ul>
      <li>
        <a href="http://localhost:3001/categories?cat=<%= data[i]%>"><%= data[i]%></a>
      </li>
    </ul>
    <% } %>
    
  </body>