<body>
  <h1> I'm the category page!</h1>

  <ul>
    <% categories.forEach((categories.value) => { %>
      <li>
        <a href="/jokebycategory?cat=<%=category %>">
        <%= categories %>
        </a>
      </li>
      <% }) %>
  </ul>



</body>