  <body>
    <h1>Categories</h1>

    <ul> <% jokeCategories.forEach((oneCat) => { %>
        <li>
        <a href="/categories?cat=<%= oneCat %>"> <%=oneCat%> </a>
        </li>
        <% }); %>
    </ul>

  </body>
