  <body>
    <h2>Categories</h2>

      <nav>
        <%catArr.forEach((element)=>{%>
          <li><a href="?cat=<%=element%>"><%=element%></a>
          </li>
        <%});%>
      </nav>


  </body>
