<!DOCTYPE html>
<body>
  <h1>CHUCK NORRIS CATEGORIES</h1>
    <ul>
      <% jokeCategories.forEach(cat => { %>
          <li><a href="<%= cat %>"> <%= cat %> </a></li>
        <% }); %>
      })
    </ul>
</body>
