<% categories.forEach(function(oneCategory){ %>

  <form method="get" action="/joke-by-category" >
    <a href="/joke-by-category?cat=<%= oneCategory %> " name= "categoryValue"> <%= oneCategory %> </a>
  </form>
  <br>

<% }) %>
