<body>
  <h1>Categories</h1>
  <ul>
    <% for(let ix = 0; ix < categories.length; ix++)  { %>
      <li>
        <a href="/joke-by-category/<%= categories[ix] %>">
          <%= categories[ix] %>
        </a>
      </li>
      <% } %>
  </ul>
</body>
