    <h1>Categories</h1>

    <p>Here are categories: </p>
    <% category.forEach((oneCategory) => { %>

      <p> <a href="categories?cat=<%=oneCategory%>" id = ""> <%= oneCategory %> </a> </p>

    <% })%>
