    <h2>Categories</h2>
<p> click a category to see a joke </p>
      <ul>
         <% category.forEach((oneCategory) => { %>
      <li>
        <a href="/categories?cat=<%=oneCategory%>"> <%= oneCategory %> </a>
      </li>
       <% }) %>
     </ul>
