  <body>
    <h1>I'm a Chuck Norris Joke's Categories list</h1>

    <% categories.forEach((category)=>{%>

   <a href="categories?cat=<%= category %>"><%= category %></a><br>
    <%});%>

  </body>

