<body>
  <h1>Categories</h1>

  <ul>

    <%  chuckCat.forEach((arrayItem) => { %>

      <li>
        <a href='/categories?cat=<%=arrayItem%>' id="dev-category" name="devCategory">
          <%=  arrayItem %>

        </a>
      </li>

      <%       }); %>
  </ul>


</body>
