  <h2> Categories </h2>

<p> Joke categories. </p>

<ul>
  <% categories.forEach((oneCategory) => { %>
    <li>
      <a href="/categories?cat=<%= oneCategory %>">
        <%= oneCategory %>
      </a>
    </li>
  <% }) %>
</ul>
