<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/random">Random</a>
      <a href="/categories">Categories</a>
      <a href="/search">Keyword</a>
    </nav>

      <h1>Categories</h1>

       <ul>
        <% chucks.forEach ((oneChuck) => { %>
        <li><a href="http://localhost:3000/oneCat?cat=<%=oneChuck%>"> <%= oneChuck %> </a></li>
      <% }); %>
    </ul>


  </body>
</html>
