<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Categories</h1>
    <ul>
      <% for (i=0; i<categories.length; i++) { %>
        <li><a href="/categories/<%=categories[i]%>">
          <%= categories[i] %>
        </a></li>
        <% } %>
      </ul>
    
    </body>
</html>
