  <body>
    <h1>Categories</h1>
    <ul>
      <% for(let i = 0; i < categories.length; i++) { %>
        <% let cat = categories[i];%>
    <li><a href="http://localhost:3000/joke-by-category?cat=<%= cat %>"</a><%= cat%> </li>
    <% }%>
  </ul>
  </body>
