  <body>
    <h1>Categories</h1>
        <ul>
        <% res.forEach((elem) => {%>
        <li><a href="http://localhost:3000/categories?cat=<%= elem %>"><%= elem%></a></li>
        <%})%>
      </ul>



  </body>
  <!-- client.getJokeCategories()
    .then((response)=>  {
      // use the response here
    })
    .catch((err)=> {
      // handle error
    }); -->
