<body>
   <h1>Categories</h1>
    <ul>
      <!-- No me muestra las categorias -> categories.forEach is not a function -->
        <% categories.forEach((category) => { %>
        <li><a href="categories?cat=<%= category %>"><%= category %></a></li>
        <% })%>
    </ul>
</body>
