<body>
    <h1>Categories</h1>
    <ul>
      <% for(i=0; i <= chisteCategories.length; i++) { %>
        <li>
          <a href="http://localhost:3000/categories?cat= <%=chisteCategories[i]%>"><%= chisteCategories[i] %>
          </a>
        </li>
        <% } %>
    </ul>
    </body>//IT DOES NOT WORK BUT LET ME ASSURE YOU IT IS LOGICAL