  <body>
    <h1>Categories</h1>

    <p>Here are categories: </p>
    <% category.forEach((oneCategory) => { %>

      <p> <a href="" id = ""> <%= oneCategory %> </a> </p>

    <% })%>




  </body>
