<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Categories</h1>
    <% categories.forEach((category) => { %>
    <a href="http://localhost:3000/categories?cat=<%= category %>"><%= category %></a>
    <% }) %>
  </body>
  </html>
