<h1>CATEGORIES</h1>
<ul>
  <!-- Fill dynamically a list adding html content -->
  <% list.forEach(category => { %>
    <li>
      <a href="/categories/<%=category%>">
        <%=category %>
      </a>
    </li>
    <% }) %>
</ul>
