<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="/search" method="POST">
       <label>Keyboard:</label>
       <input name="text" id="keyboard" type="text">

  </body>
</html>
