<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Chukity Chuck Chuck</title>
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/random">Random</a>
      <a href="/categories">Categories</a>
      <a href="/search">Keyword</a>
    </nav>


    <h1> Chuck Norris is the Man </h1>

    <h2> This website is a collection of jokes about the legendary Chuck Norris.
      Click Random to get a random Chuck Norris joke.
      Click Categories to choose a joke from a list of Chuck Norris joke categories.
      Click Keyword to find a Chuck Norris joke based on a keyword.

  </body>
</html>
