<h2>Chuck Norris App</h2>
<ul>
  <li>
    <a href='/categories'>Search jokes by categories</a>
  </li>
  <li>
    <a href='/search'>Search jokes by keywords</a>
  </li>
  <li>
    <a href='/random'>Show a random joke</a>
  </li>
</ul>