<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department Homepage</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <p>chucknorris.io is a free JSON API for hand curated Chuck Norris facts.<br>

Chuck Norris facts are satirical factoids about martial artist and actor<br>

Chuck Norris that have become an Internet phenomenon and as a result have<br>

become widespread in popular culture. The 'facts' are normally absurd hyperbolic<br>

claims about Norris' toughness, attitude, virility, sophistication, and masculinity.<br>

Chuck Norris facts have spread around the world, leading not only to translated<br>

versions, but also spawning localized versions mentioning country-specific<br>

advertisements and other Internet phenomena. Allusions are also sometimes made<br>

to his use of roundhouse kicks to perform seemingly any task, his large amount<br>

of body hair with specific regard to his beard, and his role in the action<br>

television series Walker, Texas Ranger.</p>

<a href="http://localhost:3000/">Home</a>
<a href="http://localhost:3000/categories">Jokes by category</a>
<a href="http://localhost:3000/search">Search Jokes</a>
  </body>
</html>
