<h2>The Chuckinator!</h2>

<p class="about">This site is where you'll find every FACT about Chuck Norris you could ever want! There's one below! Click 'Category' to view all the categories. Click 'Random' to get a random joke (like the one below). Or click 'Search' to search for your own!</p>


<div class="joke">
  <%= value %>
</div>
