<h1>Chuck Norris Facts</h1>
<p> App for getting the best Chuck Norris Jokes</p>
<ul>
  <li><a href='/random'>Random Joke</a></li>
  <li><a href='/listcategories'>Categories</a></li>
  <li><a href='/search'>Search</a></li>
</ul>
