<h1>Chuck Norris Joke Factory</h1>

<p>Get the best Chuck Norris Jokes online</p>

<ul>
  <li><a href="http://localhost:3002/random">Give me a random joke</a></li>
  <li><a href="http://localhost:3002/categories">Joke Categories</a></li>
  <li><a href="http://localhost:3002/search">Search any joke by term</a></li>
</ul>
