<h1> Chuck Norris Jokes! </h1>
<p> This is a description of the app..! </p>

<ul>
  <li><a href="http://localhost:3000/random"> Random Joke </li>
  <li><a href = "http://localhost:3000/categories"> Joke by Category </li>
  <li><a href = "http://localhost:3000/search"> Search Joke </li>
 </ul>