<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>

<body>
  <h1>YOU ARE IN HOME.ejs</h1>
  <h2>What do you want to do?</h2>
  <ul>
    <li>
      Get a random joke
      <br>
      <a href="http://localhost:3000/random">Random</a>
    </li>
    <li>
      See all the categories
      <br>
      <a href="http://localhost:3000/categories">Categories</a>
    </li>
    <li>
      Search by category
      <br>
      <a href="http://localhost:3000/search">Search</a>
    </li>
  </ul>
</body>

</html>