<body>
  <h1>When you can't get enough chuck norris jokes</h1>

  <h2> A random chuck norris joke generator</h2>


      <a href= "/random"> Random Jokes</a><br />
      <a href= "/categories"> Categories</a><br />
      <a href= "/search"> Search for Jokes</a>





</body>
