<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h2> THE CHUCK NORRIS JOKE GENERATOR </h2> <br>
    <a href="http://localhost:3000/categories">Joke Categories</a><br><br>
    <a href="http://localhost:3000/search">Search for a Joke</a><br><br>
    <a href="http://localhost:3000/random">Get a Random Chuck Joke</a>

  </body>
</html>
