<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" href="/Users/danigp/DESARROLLO/IronHack/Week4/DIA3/lab-express-chuck-norris/starter-code/public/css/style.css">
  </head>
  <body>
    <p><%- jokeRandom %></p>
  </body>
</html>
