<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="stylesheets/style.css">
  </head>
  <body>
    <h1>This is the Chuck Norris App, with more jokes than you can think of</h1>
    <img src="https://botlist.co/system/BotList/Bot/logos/000/002/271/medium/chuck_norris.jpg">
    <a href="/search">Search Joke</a>
    <p>If you can think it, we got it.</p>
    <a href="/categories">Joke Categories</a>
    <p>If you are less creative, we got some suggestions</p>
    <a href="/random">Random Joke</a>
    <p>One random Chuck Norris a day keeps the bad guys at bay</p>
  </body>
</html>
