<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<h1> The Chuck Norris Joke Department </h1>

<header>

    <nav>
      <a href="/"> Home </a>
      <br>
      <a href="/categories"> Categories </a>
      <br>
      <a href="/search"> Keyword</a>
    </nav>
  </header>

  <%- body -%>

  <footer>
  <p> Made with 💕 at Ironhack. </p>
</footer>

  <script src="/js/frontend.js">

  </body>
</html>
