

<h2> After his film career died off, the people of the internet turned him into a living meme. 
    Chuck Norris Facts quickly became all the rage. These "facts" are just hyperbolic jokes 
    on the skills of Chuck Norris.</h2>