<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1> Chuck Norris jokes </h1>
    <p> <a href="https://en.wikipedia.org/wiki/Chuck_Norris">Chuck Norris </a> is a famous actor and martial artist
      that starred in many American movies in the '80s and '90s.
      After his film career died off, the people of the internet
      turned him into a living meme.
      Chuck Norris Facts quickly became all the rage.
      These "facts" are just hyperbolic jokes on the skills
      of Chuck Norris. </p>

    <ul>
      <li> <a href="/random"> A Random Joke </a> </li>
      <li> <a href="/categories"> Jokes' Categories </a> </li>
      <li> <a href="/search"> Search for a Joke </a> </li>
    </ul>
  </body>
</html>
