<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <a href="/random">Random</a>
    <a href="/categories">Categories</a>
    <a href="/search">Search</a>
    <p><%= value %></p>
  </body>
</html>