<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Chuck Norris Quotes Generator</h1>
      <a href="/random">Random Chuck Norris Quote</a><br>
      <a href="/categories">Chuck Norris Quote Categories</a><br>
      <a href="/rcategories">Get a Chuck Norris Quote of a random category</a><br>
  </body>
</html>
