<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet"  href="css/style.css">

  </head>
  <body>
      
      <h1>hola que tal, este es index.ejs en la carpeta views</h1>
      <h2>styles en style.css</h2>
  </body>
</html>
