<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Wazzap!</h1>
    <ul>
      <li><a href="/random">random</a></li>
      <li><a href="/categories">categories</a></li>
      <li><a href="/search">search</a></li>
    </ul>
  </body>
</html>
