<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Chuck</h1>
    <img src="https://assets.chucknorris.host/img/avatar/chuck-norris.png" alt="">
    <p>Everything you always want to know about Chuck!</p>
    <a href="/random">Get a random Joke</a> |
    <a href="/categories">Explore the categories</a> |
    <a href="/search">Look for an specific joke base on a keyword</a>
  </body>
</html>
