<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
      <a href="/random"> <li>Random joke</li> </a>
      <a href="/categories"> <li>Jokes by category</li> </a>
      <a href="/search"> <li>Search the jokes by word</li> </a>
  </body>
</html>
