<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <style>
  body {background-image: url('http://wallpapercave.com/wp/PDE9sTN.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        }
  </style>
  <body>
 
    <ul>
      <li><a href="/categories"> <h1> Categories </h1> </a> </li>
      <li><a href="/search"><h1> Search </h1> </a>  </li> 
      <li><a href="/random">  <h1>Random</h1> </a>  </li>
    </ul>
  </body>
</html>
