<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/css/style.css">
  </head>
  <body>
<h1><%=jokeOne%></h1>
  </body>
</html>
