<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Are we still telling Chuck Norris jokes in 2018?</h1>
    <p> Here's today's joke: <%= name %>  </p>
  </body>
</html>
