
<h1 class="main-title">Chuck Norris Jokes</h1>

<p>Instructions are easy. Just navigate through the nav menu on top of the page. <br> <br> Enjoy!</p>


<img class="img-responsive" src="http://i1.ytimg.com/vi/rCcqMzuezaI/maxresdefault.jpg" alt="Da best">