<h1>Chuck Norris Jokes</h1>
<p><a href="https://en.wikipedia.org/wiki/Chuck_Norris" target="_blank">Chuck Norris</a> is a famous actor and martial artist that starred in many American movies in the '80s and '90s.</p>
<img src="https://camo.githubusercontent.com/a98a953772f21af007eefd0dbba091cf4ffe83e9/68747470733a2f2f692e696d6775722e636f6d2f68416d5254354c2e6a7067" alt="Death once had a near-chuck experience"/>
<p>After his film career died off, the people of the internet turned him into a living meme. <a href="https://en.wikipedia.org/wiki/Chuck_Norris_facts" target="_blank">Chuck Norris Facts</a> quickly became all the rage. These "facts" are just hyperbolic jokes on the skills of Chuck Norris.</p>
<blockquote>Chuck Norris counted to infinity... twice</blockquote>
<blockquote>Chuck Norris can put out a fire... with gasoline</blockquote>
<blockquote>Michael Jackson can moonwalk but Chuck Norris can sun walk</blockquote>
<p>Today, we will be building a Chuck Norris joke finder using Express.</p>
<h2>Chuck features</h2>
<ul>
  <li><a href="/random">Get a random joke</a></li>
  <li><a href="/categories">Get a joke by category</a></li>
  <li><a href="/search">Get a joke by keyword</a></li>
</ul>