<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1><a href='/joke-by-category'>Get Chuck Norris jokes by category.</a></h1>
    <h1><a href='/random'>Get a random joke.</a></h1>
    <h1><a href='/search'>Get a joke by keyword.</a></h1>
  </body>
</html>
