<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Chuck Norris memes</h1>
    <img src="<%= iconUrl %>" alt="chuck">
    <p><%= value %></p>
  </body>
</html>
