<div class="row center">
  <div class="card col s12 m6 l2">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.criminalelement.com/images/stories/0012-08-August/Robertson_Chuck-Norris-Walker-Texas-Ranger.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Chuck "The GOAT" Norris</span>
        <div class="card sticky-action">
          <div class="card-action"><a href="/random">Random joke</a></div>
          <div class="card-action"><a href="/categories">Categories</a></div>
          <div class="card-action">
            <form action="/search" method="post">
              <label class="label-icon right" for="search"><i class="material-icons">search</i></label>
              <input id="keyword" name="keyword" required placeholder="search...">
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
