<h1>Chuck Norris Jokes</h1>
<ul>
<li><a href="/random">Random Chuck Norris Jokes</a></li>
<li><a href="/categories">Chuck Norris Jokes By Category</a></li>
<li><a href="/search">Chuck Norris Jokes By Search</a></li>
</ul>
