<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Chuck Norris Joke Department</title>
  <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
</head>

<body>
  <h1>
      Chuck Norris jokes
    </h1>
  <p>
    This is the ultimate resource for Chuck Norris jokes.
  </p>
  <ul>
    <li><a href="/random">Random jokes!</a></li>
    <li><a href="/categories">Jokes by category</a></li>
    <li><a href="/search">Search your favorite Chuck Norris jokes ;)</a></li>
  </ul>
</body>

</html>
