<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="stylesheets/style.css">
  </head>
  <body>
    <ul>
    <% jokeCategories.forEach((category)=>{ %>
        <li><a href=<%="/categories?cat="+category.toString()%>><%=category%></a></li>
    <% }) %>

    <% if(jokeCategorySelected!==undefined){%>
      <h4><%=jokeCategorySelected%></h4>
    <%}%>


    </ul>
  </body>
</html>
