<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <% var cat;
        if(categories.length != 0) {  
            cat = categories;
        }
        else {
            cat = "explicit";
        } 
        console.log(cat); %>
    <h1>Categorie: <%= cat %> </h1>
    <p><%= value %></p>
  </body>
</html>