
<body>
  <h1>Categories</h1>


  <ul>
    <% cat.forEach((category)=>{%>
      <li><a href='http://localhost:3002/categories?cat=<%= category %>'><%=category%></a></li>
    <%});%>
  </ul>





</body>
