<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
</head>

<body>
    <p>hola</p>
<% for(var i=0; i < data.length; i++) { %>
    <ul>
        <li>
        <a href="#"> <%= data[i] %></a>
        </li>
       
    </ul>
    <% } %>

</body>

</html>
