<link rel="stylesheet" type="text/css" href="/style.css">

<ul>
  <% jokeCategory.forEach((category) => { %>
  <li>
  <a href="/categories?cat=<%=category%>">--<%=category%>--</a>
  <% }) %>
  <li>
</ul>
