<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h2>Random Joke by Category</h2>

    <div class=“joke-box”>
      <p><%= value %></p>
    </div>
  </body>
</html>
