
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="css/text" href="/stylesheets/style.css"> 
    <title>Joke by category - Chuck</title>

<body>
  <p>
    <%= random_cat %>
  </p>
</body>

</html>