<div class="container">
  <h2>Joke by Category : <%= category %></h2>
  <div class="panel panel-default">
    <div class="panel-body"><%= joke %></div>
    <div class="panel-footer"><a href="/categories?cat=<%= category %>">Click for Another Joke</a></div>
  </div>  
</div>
