<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Welcome to the Chuck Norris joke app!</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/random">Random</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
    <p><%= cat %></p>
    <p><%= joke %></p>
  </body>
</html>

