<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>

<ul>
    <% for (i=0; i<array.length; i++) { %>
        <li><a href="#"> <%= array[i] %> </a></li>
       <% } %>
</ul>

  </body>
</html>


