<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
	<header>
		<h1>My Site</h1>

		<nav>
			<a href="/"> Home </a>
			<a href="/random"> Random </a>
			<a href="/categories"> Categories </a>
		</nav>
	</header>


	<!-- Without this Line the layout wont work -->
	<%- body %>
	<!-- -->


	<footer>
		<p>
			<!-- Some Footer -->
		</p>
	</footer>
</body>
</html>