<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Foods</title>
  <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
</head>
<body>
        <p>
            <%= joke.value %> 
            <img src="<%= joke.iconUrl %>">
        </p>
</body>
</html>