<div class="container">
  <h2>Random Joke</h2>
  <div class="panel panel-default">
    <div class="panel-body"><%= joke %></div>
    <div class="panel-footer"><a href="/random">Click for Another Joke</a></div>
  </div>  
</div>
