<body>
  <h1>Random Joke</h1>
  <p>
    <a href="/">Go back to home</a>
  </p>

  <p>
    <%= response.value %> <!-- El value viene de la documentación de la api de chucknorris-io -->
  </p>




</body>