<head>
  <title>The Chuck Norris Joke Department</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Random Categorie Quote</h1>
    <p>The category is:
        <%= response.categories %>
    </p>
    <p>
        <%= response.value %>
    </p>
    <img src="<%= response.iconUrl%>">
</body>
