<h2>Search Joke:</h2>
<form method="post" action="/searched-joke">
  <label for="search-term-input"> Search term: </label>
  <input type="search" id="search-term-input" name="searchTerm">
  <button> Search NOW! </button>
</form>
