


<form action="/search" method="POST" role="form">
  <legend>Search form</legend>

  <div class="form-group">
    <label for="">Type here:  </label>
    <input type="text" name="searchedWord" class="form-control" id="" placeholder="">
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
