<h2> Search Page </h2>


<!-- 2 important pieces to the anatomy of form -->
<!-- app.get('/search-results', (r,r,n) => {}) -->
<form method="get" action="/search-results">

  <label for="search-input"> Search Term </label>
  <input  id="search-input" name="mySearchTerm" type="search" placeholder="video games">
  <br>

  <button> Search </button>
  <!-- input type="submit" also works -->

</form>
