<body>
  <h1>Search</h1>
  <p>
    <a href="/">home</a>
  </p>
  <form action="/search" method="post">
    <label for="searchJoke">Search</label>
    <input id="searchJoke" type="text" name="searchJoke">
  </form>
</body>