<p>Search form</p>
<form action="/search" method="post">
  <label for="search-input">Keyword</label>
  <input id="search-input" type="search" name="keyword">
<button type="" name="button"> Search</button>
</form>
