<form action="example.com/user-data" method="post">
  <label for="first-name-input">First Name:</label>
  <input id="first-name-input" type="text" name="firstName">

  <input type="submit" value="Save Name">
</form>