<form class="" action="/search" method="post">
  <label for="search-topic">Search Topic</label>
  <input id="search-input" type="text" name="searchTerm" value="">
  <button type="submit"> Search </button>
</form>
