<h2>Search</h2>
<p>
    <a href="/">home</a>
  </p>
<form action="/search" method="POST">
  <label for="searchTerm">Your word</label>
  <input id="searchTerm" type="text" name="searchTerm" placeholder="Apple">
  <button type="submit">Search</button>
</form>