<body>
  <h1>Search Joke</h1>
  <p>
    <a href="/">Go back to home</a>
  </p>

  <form action="/search" method="post">
    <label for="searchJoke">Type your search</label>
    <input id="searchJoke" type="text" name="searchJoke">

  </form>



</body>