<body>
  <form action="search" method="POST">
    Enter a keyword to get a joke:
    <label for="joke">
      <input id="joke" type="text" value= "enter keyword" name="jokeKeyword">
    </label>
  </form>
</body>
