<!DOCTYPE html>
<html lang="en">
  <body>
    <form action="/search" method="POST">
      <label for="keyboard">Search</label>
      <input id="keyboard" type="text" name="keyboard">

      <button type="submit">
        Search
      </button>
    </form>
  </body>
</html>
