<body>


<h2>Search for a Joke!</h2>

<!-- 2 important pieces to the anatomy of form -->
<!-- app.get('/search-results', (r, r, n) -> {}) -->

<form class="" action="/search-results" method="get">
  <label for="search-input"> Search Here! </label>
  <input type="search" name="mySearchTerm" id="search-input" placeholder="video games">
  <br>

  <button type="button" name="search_button">SEARCH</button>

  </form>

</body>
