<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="/search" method="POST">

    <div class="">
      <label for="keyboard">Category:</label>
      <input id="keyboard" type="text" name="keyboard">
    </div>

    <input type="submit" value="Get Joke">
    </form>
  </body>
</html>
