<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="search" method="post">
    <label><input type="text" name="searched" id="searched">Search</label>
  <input type="submit"value="GOOOOO">
  </form>
  </body>
</html>

