<!doctype html>
<html>
  <head>
  </head>
  <body>
    <form action="/search" method="POST">

    <label>Keyboard:</label>
    <input name="keyboard" type="text">
    <input type="submit" value="Search">
    </form>
  </body>
</html>
