<h2> Search </h2>

<form action="/check-results" method="post">
  <label for="search-term"> Search by Keyword </label>
  <input id="search-term" type="search" name="searchTerm">

  <button> Search Now! </button>
</form>
