<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Chuck Norris Jokes</title>
</head>

<body>
    <a href="/">Home</a>
    <form action="/search">
    
      <label for="searchWord">Search Joke</label>
      <input id="search" type="text" name="searchWord">
    
      <button type="submit">
        Search
      </button>
    </form
    <ul>
      <% items.forEach(elem => { %>
        <li>
          <img src="<%= elem.iconUrl %>" alt="icon">
          <p><%= elem.value %></p>
        </li>
        <hr>
      <% }) %>
    </ul>
  </body>
</html>