<form action= "/search" method="post">  <!-- where the posted information will go-->
  <input id="name" type="text" name="name" placeholder="">
  <input type="submit" value="Search for a joke">
</form>
