<body>
  <form action="search" method="POST">
    <label for="joke">
      <input id="joke" type="text" name="jokeKeyword">Search a joke</input>
    </label>
    <input type="submit" value"searchQuery">Search!</input>
  </form>
</body>
