<form action="http://localhost:3000/search" method="post">
    <label for="keyword">SEARCH</label>
    <input id="keyword" type="text"  name='inputkeyword'>
    <input type="submit" value="Save keyword">
</form>
