
<h1>Get a joke by keyword!</h1>
<form action="/search-joke" method="post">
  <label for="search-joke-input"></label>
  <input type="search" name="search">
  <button type="submit">Search!</button>
</form>
