
 <form  action="/search" method="post">
   <label for="search">Search: </label>
   <input type="text" name="category" placeholder="Type a Word" >
   <input type="submit" value="Search">
 </form>


<% if(result)  {result.forEach((val)=> { %>
  <p><%=val%></p>
<% })}%>
