<form id="jockes-ask" action="/search" method="post">
  <label for="first-name-input">Categories: </label>
  <input id="first-name-input" type="text" name="jocke">
  <input type="submit" value="Ask Jocke">
</form>
