<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
        <form action="up" method="post">
            <label>Enter category: </label>
            <input id="team_name" type="text" name="category_name" value="category">
            <input type="submit" value="OK">
        </form>
  </body>
</html>
