<h2> Search by Keyword </h2>

<!-- app.post('/checklogin', (req,res, next) => { ... -->
<form method="g" action="/search-result">

  <label for="keyword-input"> </label>
  <input id= "keyword-input" name="searchTerm" type="text" placeholder="keyword">

  <button> Search </button>

</form>
