<h2>Search</h2>

<form class="search" action="/search" method="post">
  <label for="query">Search for Chuck</label><br>
  <input id="query" type="text" name="query"><br>

  <button type="submit" name="button">Search</button>
</form>
