<form action="http://localhost:3000/search" method="POST">
    <!--send this securely-->
    <label for="key-word-input">Keyword:</label>

    <input id="key-word-input" type="text" name="keyword">

    <!--get the chosen joke-->
    <input type="submit" value="get joke">

</form>


<ul>
    <% jokes.forEach((joke) => { %>
        <li>
            <%= joke.value %>
        </li>
        <% }) %>
</ul>