<body>
  <form action="/search" method="POST">
    <label for="email">Keyword</label>
    <input id="keyword" type="text" name="keyword">
    <button type="submit">
      Search
    </button>
  </form>
</body>
