<h1> Search by Keyword</h1>

<form action="/search" method="post">
  <label for="search-box">Keyword: </label>
  <input id="search-box" type='text' name="keyword">
  <button type="submit">Submit</button>
</form>
