<h1> Search for Chuck Norris Jokes </h1>

<div class ="searchBlock">
  <form method="post" action="/search">
    <label for="joke-search"></label>
    <input id="joke-search" type="search" name="jokeSearch"></input>
    <button> Search </button>
    <br>
  </form>
</div>

<div class="jokeBlock">
  <% searchJoke.forEach((joke) => { %>
    <p>
      <%= joke.value %>
    </p>
  <% }) %>
</div>
