<h1> Chuck Norris jokes </h1>
<h2> Search for a joke </h2>

<form action="/search" method="POST">
  <label for="keyword">Enter the keyword</label>
  <input type="text" id="keyword" name="keyword">

 <button type="submit">Search</button>
</form>

<p> <%= value %></p>
<br> <a href="/"> Home </a>
