<body>
  <form action="/search" method="POST">
    <label for="joke">Search the joke</label>
    <input id="joke" type="text" name="jokeKeyword">
    <button type="submit">Search!</button>
  </form>
</body>
