<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="example.com/user-data" method="post">
        <label for="category">Category:</label>
        <input id="category" type="text" name="">
        <input type="submit" value="save search">

    
      
      </form>

  </body>
</html>
