<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Chuck Norris</title>
</head>
<body>
  <header>
    <h1>I'mt the layout title</h1>
  </header>
  <main>
    <!-- HERE GONNA APPEND THE VIEWS-->
    <%- body -%>
  </main>
  <footer>
    <span>I'm a footer in the layout</span>
  </footer>
</body>
</html>
