<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <div>
      <a href="/categories">Categories</a>
      <a href="/search">Search</a>
      <a href="/">Home</a>
      <a href="/random">Random</a>
      <a href="/search">Search</a>
    </div>
    <%- body -%>
  </body>
</html>
