<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Chuck Norris Joke Department</title>
</head>

<body>
  <h1>lab-express-chuck-norris</h1>
  <h2>Chuck Norris Jokes</h2>
  <p>Chuck Norris is a famous actor and martial artist that starred in many American movies in the '80s and '90s.</p>
  <p>After his film career died off, the people of the internet turned him into a living meme. Chuck Norris Facts quickly became all the rage. These "facts" are just hyperbolic jokes on the skills of Chuck Norris.
  </p>
  <p>Today, we will be building a Chuck Norris joke finder using Express.</p>
  <%- include('../partials/navbar') %>
    <%- body -%>
</body>

</html>
