<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Website</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
   <ul class = "nbar">
  <li><a href="/">Home |</a></li>
  <li><a href="/random">Random Joke |</a></li>
  <li><a href="/categories">Categories | </a></li>
  <li><a href="/search">SEARCH | </a></li>
</ul>
  <body>
    <%- body -%> <!-- <=== note this line -->
  </body>
</html>
