<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <h1>Chuck Norris Jokes</h1>
    <nav>
      <a href="http://localhost:3000">Home</a> |
      <a href="http://localhost:3000/search">Search</a> |
      <a href="http://localhost:3000/categories">Categories</a> |
      <a href="http://localhost:3000/random">random</a> 
    </nav>
    <%- body %>
  </body>
</html>
