<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chuck Norris Joke Department</title>
</head>
<body>
  <h1>Chuck Norris Joke Department</h1>
  <a href="/random">Choose random joke</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/categories">Choose category joke</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/search">Search jokes</a>
   <%- body -%> <!-- <=== note this line -->

</body>
</html>
