<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chuck Nurris Project</title>
</head>
<body>
  <h2>Joke</h1>
    This server is dedicated to Chuck Norris
    <ul>
      <a href="/"><li>Main</li></a>
      <a href="/random"><li>Random</li></a>
      <a href="/categories"><li>Categories</li></a>
      <a href="/search"><li>Search</li></a>
    </ul>
  <%- body -%>
</body>
</html>
