<head> 
    <title>The Chuck Norris Joke Department</title> 
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css"> 
</head> 
<body> 
    <div class="container"> 
            <h1>Welcome to the Chuck Norris Random Joke App</h1>
            <h5>Your ultimate source of witty Chuck Norris jokes</h5>
            <div class="items-box-horizontal">
              <div class="items"><p><a href="/">Home</a></p></div>
              <div class="items"><p><a href="/categories">Jokes-By-Category</a></p></div>
              <div class="items"><p><a href="/search">Search for Keywords</a></p></div>
            </div>
        <img src="images/messi.jpg" alt="jordis picture"> 
        <%- body -%>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascript/main.js"></script>
</body>