<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Chuck Norris Awesomeness </title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/styles.min.css">
  </head>
  <body>

    <header>
      <nav>
        <h1>Chuck</h1>
            <div class="logo">
                <img src="/images/chucknorris.png">
            </div>
        <h1>Norris</h1>
            <ul>
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/random"> Random Joke </a> </li>
                <li> <a href="/categories"> Categories </a></li>
                <li> <a href="/search"> Search </a></li>
            </ul>
      </nav>
    </header>
    <div class="container">
    <%- body -%>
    </div>
  </body>
</html>
