<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chuck Norris Jokes</title>
</head>

<body>
  <nav>
    <h1>Chuck Norris Jokes</h1>
    <h3>Select any option to enjoy Chuck Norris Jokes!!!</h3>
    <ul>
      <li>
        <a href="http://localhost:3000/random">Random</a>
      </li>
      <li>
        <a href="http://localhost:3000/categories">Categories</a>
      </li>
      <li>
        <a href="http://localhost:3000/search">Search</a>
      </li>
    </ul>
  </nav>
  <%- body -%>
</body>

</html>