<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Chucknorris  </title>
  </head>
  <body>

    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/joke-by-category">Joke Category</a>
    <%- body -%>
  </body>
</html>
