<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8">
    <title>Chuck Norris funny, haha.</title>
    <link rel="stylesheet" href="./chuck.css">

  </head>
  <body class ="container">
    <header>
      <nav>
        <span class="navBar"></span>
        <span class="navBar"></span>
        <span class="navBar"></span>
        <span class="navBar"></span>
        <span class="navBar"></span>
      </nav>
    </header>

    <section class="content">
      THIS IS WHERE ALL THE CHUCK NORRIS HAPPENS

      <%- body -%>
    </section>
    <footer>
      Made with &hearts; at Ironhack.
      Copyright Sherwino©2017
      <a href = "/"> ...this is the way back home</a>
    </footer>
  </body>
</html>
